<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My anime list</title>
    <link rel="stylesheet" href="/view/css/style.css">
</head>
<body>
    <header>
        <h1>My anime list</h1>
        <nav>
            <ul>
                <li><a href="/list/watched">Просмотренное</a></li>
                <li><a href="./" class="this-page">Запланированное</a></li>
                <li><a href="/list/search">Поиск</a></li>
            </ul>
        </nav>
        <button class="clear">Очистить списки</button>
    </header>

    <main>
        <div class="no-items hidden"><p>Здесь пока ничего нет...</p></div>
        <ol class="anime-list watched">

        </ol>
        <script src="/view/js/index.js"></script>
        <script>
            showList(false);
        </script>
    </main>

    {{footer}}
</body>
</html>