<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Odminasis</title>
    <link rel="stylesheet" href="/view/admin/css/style.css">
</head>
<body>
{{tpl adminHeader}}
<main>
    <form method="post" enctype="multipart/form-data" id="add-file-form">
        <input type="file" id="add-file-input" name="file" accept="image/*,.html,.css,.js,.tpl">
        <button type="submit" id="add-file-button">Добавить файл</button>
    </form>
    <form method="post" enctype="multipart/form-data" id="add-dir-form">
        <input type="text" id="add-dir-input" name="name">
        <button type="submit" id="add-dir-button">Добавить папку</button>
    </form>
    <ul class="dir-list">
        {{foreach ($dir as $file)}}
            <li>
                {{if ($file["isDir"])}}
                    <a id="{{echo $path . $file['name']}}" class="dir" >
                        {{echo '🗁' . $file['name']}}
                    </a>
                {{else}}
                    <a id="{{echo $path . $file['name']}}" class="file">
                        {{echo $file['name']}}
                    </a>
                {{endif}}
            </li>
        {{endforeach}}
    </ul>
    {{if ($path !== '/')}}
    <form method="post" enctype="multipart/form-data" id="rename-file-form">
        <input type="text" id="rename-file-input" name="name" value="{{echo $dirname}}">
        <button type="submit" id="rename-file-button">Переименовать папку</button>
    </form>
    <button id="delete-dir-button">Удалить папку</button>
    {{endif}}
    <script src="/view/admin/js/index.js"></script>
</main>
{{tpl footer}}
</body>
</html>